@use "variables" as v; 
@use "mixins" as m;

footer {
    background-color: v.$primary-color;

     .footer-container {
        display: flex;
        justify-content: center;
        padding: 2em;

            p {
                font-family: v.$primary-font-family;
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: #c4c4c4;
            }
        }
}