@use "variables" as v; 
@use "mixins" as m;

header {
    width: 100%;
    background-color: v.$primary-color;
    position: fixed;
  
    nav {
      padding: 1em;
      .the-label {
        font-family: v.$label-font-family;
        color: #eab9d8;
        margin-right: 1rem;
        text-transform: uppercase;
  
        @include m.forDesktop(desktop) {
          margin-right: 0;
          margin-left: 2rem;
        }
      }
    }
  }